<span ng-if="!isChanged">
  <funding-action-button action="review" class="btn btn-default funding-application-sidebar-element" crm-icon="fa-eye">{{ $ctrl.ts('Start Review') }}</funding-action-button>
  <funding-action-button action="release" class="btn btn-default funding-application-sidebar-element" crm-icon="fa-thumbs-up">Für Beirat freigeben</funding-action-button>
  <funding-action-button action="approve" class="btn btn-default funding-application-sidebar-element" crm-icon="fa-check-circle">{{ $ctrl.ts('Approve') }}</funding-action-button>
  <funding-action-button action="reject" class="btn btn-default funding-application-sidebar-element" crm-icon="fa-thumbs-down">{{ $ctrl.ts('Reject') }}</funding-action-button>
  <funding-action-button action="request-change" class="btn btn-default funding-application-sidebar-element" crm-icon="fa-arrow-left">{{ $ctrl.ts('Request Change') }}</funding-action-button>
  <funding-action-button action="add-comment" with-comment="'required'" class="btn btn-default funding-application-sidebar-element" crm-icon="fa-commenting">{{ $ctrl.ts('Add Comment') }}</funding-action-button>
</span>

<span ng-if="isChanged">
  <funding-action-button action="update" with-comment="'required'" class="btn btn-success funding-application-sidebar-element" crm-icon="fa-check">{{ $ctrl.ts('Save') }}</funding-action-button>
  <button type="button" class="btn btn-danger funding-application-sidebar-element" ng-click="reset()" ng-disabled="editCount > 0" crm-icon="fa-times">{{ $ctrl.ts('Reset') }}</button>
</span>
