/.phpcs.cache
/.phpunit.result.cache
/.phpstan/
/composer.lock
/phpstan.neon
/tools/*/vendor/
/tools/*/composer.lock
/vendor/
/node_modules/*/dist/cjs/
/node_modules/json-ptr/dist/*.js
/node_modules/json-ptr/dist/*.js.map
