parameters:
	paths:
		- api
		- Civi
		- CRM
		- services
		- tests
	excludePaths:
		analyse:
			- CRM/Funding/DAO/*
			- CRM/Funding/Upgrader/Base.php
			- tests/phpunit/bootstrap.php
	scanFiles:
		- funding.civix.php
		- tools/phpunit/vendor/bin/.phpunit/phpunit/src/Framework/TestCase.php
	scanDirectories:
		- tools/phpunit/vendor/bin/.phpunit/phpunit/src/Framework
		- vendor/civicrm/civicrm-core/
	bootstrapFiles:
		- tools/phpunit/vendor/bin/.phpunit/phpunit/vendor/autoload.php
		- vendor/autoload.php
	stubFiles:
		- stubs/AbstractAction.stub
		- stubs/CiviEventDispatcherInterface.stub
		- vendor/symfony/event-dispatcher-contracts/Event.php
	level: 9
	checkTooWideReturnTypesInProtectedAndPublicMethods: true
	checkUninitializedProperties: true
	checkMissingCallableSignature: true
	treatPhpDocTypesAsCertain: false
	exceptions:
		check:
			missingCheckedExceptionInThrows: true
			tooWideThrowType: true
		checkedExceptionClasses:
			- \Webmozart\Assert\InvalidArgumentException
		implicitThrows: false
	ignoreErrors:
		# Note paths are prefixed with ""*/" to wirk with inspections in PHPStorm because of:
		# https://youtrack.jetbrains.com/issue/WI-63891/PHPStan-ignoreErrors-configuration-isnt-working-with-inspections
		- '#^Method CRM_Funding_Page_[^\s]+::getController\(\) should return Civi\\Funding\\Controller\\PageControllerInterface but returns mixed.$#'
		- '#^Method Civi\\Funding\\FundingCaseTypeServiceLocator::[^\s]+ should return [^\s]+ but returns mixed.$#'
		-
			message: '#has an uninitialized property#'
			paths:
				- */Civi/Funding/Event/*.php
		- '#^Class Civi\\Funding\\Api4\\Action\\[^\s]+Action has an uninitialized property \$[^\s]+\. Give it default value or assign it in the constructor.$#'
		# For actions that are fetched from container
		-
			message: '#^Cannot call method setCheckPermissions\(\) on mixed.$#'
			path: */Civi/Api4/*.php
		- '#^Method Civi\\Api4\\[^\\]+::[^(]+\(\) should return Civi\\[^\s]+\\[^\s]+Action but returns mixed.$#'
		- '#^Access to an uninitialized property Civi\\Funding\\Event\\[^\s]+Event::\$[^\s]+.$#'
		- '#^Access to an undefined property Civi\\Core\\Event\\GenericHookEvent::#'
		- '#^Property Civi\\Api4\\Generic\\Result::\$debug \(array\) on left side of \?\? is not nullable.$#'
		- '/^Parameter #1 \$iterator of function iterator_to_array expects Traversable, iterable(<.+>)? given.$/' # false positive
		-
			message: '#^Call to function method_exists\(\) with .+ will always evaluate to true.$#'
			path: */tests/phpunit/**/EventSubscriber/*SubscriberTest.php
		- # Accessing results of API requests
			message: "#^Offset '[^']+' does not exist on array\\|null.$#"
			path: */tests/phpunit/Civi/**/*Test.php
		- '#^Method Civi\\Funding\\Fixtures\\[^\s]+Fixture::[^\s]+\(\) should return array{[^}]+} but returns array\|null.$#'
		- '#^In method "Civi\\[^\s]+Test::[^\s]+", caught "Exception" must be rethrown.#'
		-
			message: "#^Cannot access offset '.+' on mixed.$#"
			path: */tests/phpunit/Civi/**/*Test.php
	tmpDir: .phpstan
