# Copy this file to phpstan.neon and replace {VENDOR_DIR} and {EXT_DIR} with the
# appropriate paths.

includes:
	- phpstan.neon.dist

parameters:
	scanDirectories:
		- {VENDOR_DIR}/civicrm/civicrm-core/api/
		- {VENDOR_DIR}/civicrm/civicrm-core/CRM/
		- {EXT_DIR}/activity-entity/Civi/
		- {EXT_DIR}/de.systopia.civioffice/CRM/
		- {EXT_DIR}/de.systopia.remotetools/Civi/
		- {EXT_DIR}/external-file/Civi/
	bootstrapFiles:
		- {VENDOR_DIR}/autoload.php
