includes:
	- phpstan.neon.dist

parameters:
	bootstrapFiles:
		- vendor/autoload.php
	# Because we test with different versions in CI we may have unmatched errors.
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		# Errors we get when using "prefer-lowest"

		# \DMS\PHPUnitExtensions\ArraySubset\ArraySubsetAsserts is used
		- '#^Call to deprecated method assertArraySubset\(\)#'

		- # Required with CiviCRM <6.15 https://github.com/civicrm/civicrm-core/commit/db4cce015dbce80eeef29fa3da151dc5a6f16655
			message: '#PHPDoc tag @var with type Civi\\Token\\TokenRow is not subtype of type Civi\\Token\\Event\\TokenRow.#'
			identifier: varTag.type
			path: Civi/Funding/DocumentRender/CiviOffice/AbstractCiviOfficeTokenSubscriber.php

		- # Required with CiviCRM <6.3.0
			identifier: varTag.nativeType
			path: Civi/Funding/Database/DaoEntityInfoProvider.php

		# For brick/math <0.14.2
		-
			message: '#ReflectionEnum constructor#'
			identifier: argument.type
		-
			message: '#Brick\\Math\\RoundingMode::HalfUp#'
			identifier: classConstant.notFound
		-
			message: '#enum_exists\(\).+RoundingMode#'
			identifier: function.impossibleType
		-
			message: '#ReflectionEnum constructor#'
			identifier: argument.unresolvableType

		# Required with symfony/event-dispatcher <4.4.27
		- '#::getSubscribedEvents\(\) return type has no value type specified in iterable type array.$#'
