includes:
	- phpstan.neon.dist

parameters:
	scanFiles:
		- ci/vendor/civicrm/civicrm-packages/DB/DataObject.php
	scanDirectories:
		- ci/vendor/civicrm/civicrm-core/api/
		- ci/vendor/civicrm/civicrm-core/CRM/
	bootstrapFiles:
		- ci/vendor/autoload.php
	# Because we test with different versions in CI we have unmatched errors
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		# Errors we get when using "prefer-lowest"
		# \DMS\PHPUnitExtensions\ArraySubset\ArraySubsetAsserts is used
		- '#^Call to deprecated method assertArraySubset\(\)#'
		- '#::getSubscribedEvents\(\) return type has no value type specified in iterable type array.$#'
