<div class="well funding-activity-filter">
    <i crm-icon="fa-filter"></i> {{ ts('Filter') }}
    <div class="btn-group">
        <label class="btn btn-success" ng-class="{active: workflowActivitiesHidden}" ng-click="toggleWorkflowActivities()">
            {{ ts('Hide Workflow Actions') }}
        </label>
        <label class="btn btn-info" ng-class="{active: commentsHidden}" ng-click="toggleComments()">
            {{ ts('Hide Comments') }}
        </label>
    </div>
</div>
<div ng-repeat="activity in activities">
    <funding-application-process-activity ng-hide="isActivityHidden(activity)"
                                          activity="activity"
                                          status-labels="statusLabels"
                                          review-status-labels="reviewStatusLabels"></funding-application-process-activity>
</div>
