#funding-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 9999;
  cursor: wait;
}

/* Revert Drupal theme settings */
#bootstrap-theme .table th {
  position: initial;
  height: initial;
}

/* Revert Drupal theme settings */
#bootstrap-theme .table td {
  position: initial;
  height: initial;
}

.funding-modal {
  /* Modal dialog is partly covered by navbar otherwise. */
  top: 50px !important;
}

.funding-resize-height {
  overflow-y: scroll;
}

.funding-application-sidebar {
  height: 100%;
  width: 370px;
  position: absolute;
  z-index: 1;
  right: 0;
  overflow: scroll;
  padding: 0;
}

.funding-application-sidebar-element {
  width: 100%;
}

.funding-application-sidebar-element.panel-group {
  padding-left: 10px;
  padding-right: 10px;
}

.funding-application-main {
  margin-right: 370px;
}

#bootstrap-theme .funding-application-main table {
  max-width: 1200px;
}

.funding-activity-title {
  font-size: larger;
  font-weight: bolder;
  margin-bottom: 0 !important;
}

.btn-group > .funding-action-button {
  position: relative;
  float: left;
}

.funding-action-button {
  border: 1px solid #ccc !important;
}

:not(.btn-group) > .funding-action-button {
  background-color: #e8eef0 !important;
}

.funding-application-sidebar-element .btn-group {
  margin-bottom: 10px;
}

#bootstrap-theme .tab-pane {
  padding: 15px 20px;
}

/* fix padding issue in date field */
.editable-date input {
  white-space: nowrap;
}

/* fix position of select container */
.editable-controls .ui-select-container {
  vertical-align: middle;
}

/* Display textarea in new line */
#bootstrap-theme editable-field[type="textarea"] form {
  display: block;
}

/* Display textarea and buttons in same line */
#bootstrap-theme editable-field[type="textarea"] div.form-group {
  display: flex;
}

#bootstrap-theme editable-field[type="textarea"] textarea.editable-input.form-control {
  width: 100%;
  max-width: 1200px;
  height: 30vh;
}

#bootstrap-theme editable-field[type="textarea"] pre {
  width: 100%;
  max-width: 1200px;
  height: fit-content;
  max-height: 30vh;
  white-space: pre-wrap;
  word-break: normal;
  hyphens: auto;
}

/* don't let textarea grow out of a modal */
.modal textarea {
  max-width: 100%;
}

/* align checkboxes in checklist vertically */
.editable-checklist label {
  display: block !important;
}
