#funding-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 9999;
  cursor: wait;
}

/* Revert Drupal theme settings */
#bootstrap-theme .table th {
  position: initial;
  height: initial;
}

/* Revert Drupal theme settings */
#bootstrap-theme .table td {
  position: initial;
  height: initial;
}

.funding-modal {
  /* Modal dialog is partly covered by navbar otherwise. */
  top: 50px !important;
}

.funding-resize-height {
  overflow-y: scroll;
}

.funding-application-sidebar,
.funding-clearing-sidebar {
  height: 100%;
  width: 355px;
  position: absolute;
  z-index: 1;
  right: 0;
  overflow: scroll;
  padding: 0;
}

.funding-application-sidebar-element,
.funding-clearing-sidebar-element {
  width: 100%;
}

.funding-application-sidebar-element.panel-group,
.funding-clearing-sidebar-element.panel-group {
  padding-left: 10px;
  padding-right: 10px;
}

.funding-application-main,
.funding-clearing-main {
  margin-right: 355px;
}

#bootstrap-theme .funding-application-main table,
#bootstrap-theme .funding-clearing-main table,
#bootstrap-theme .funding-clearing-main funding-jf-group > div {
  max-width: 1200px;
}

#bootstrap-theme .funding-application-main th,
#bootstrap-theme .funding-clearing-main th {
  hyphens: auto;
  word-break: break-word;
}

#bootstrap-theme td input:not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="hidden"]):not([type="submit"]):not([type="image"]) {
  min-width: 3em;
}

.funding-activity-title {
  font-size: larger;
  font-weight: bolder;
  margin-bottom: 0 !important;
}

.btn-group > .funding-action-button {
  position: relative;
  float: left;
}

.funding-action-button {
  border: 1px solid #ccc !important;
}

:not(.btn-group) > .funding-action-button {
  background-color: #e8eef0 !important;
}

.funding-application-sidebar-element .btn-group,
.funding-clearing-sidebar-element .btn-group {
  margin-bottom: 10px;
}

#bootstrap-theme .tab-pane {
  padding: 15px 3px 15px 10px;
}

/* fix padding issue in date field */
.editable-date input {
  white-space: nowrap;
}

/* fix position of select container */
.editable-controls .ui-select-container {
  vertical-align: middle;
}

/* Display textarea in new line */
#bootstrap-theme editable-field[type="textarea"] form {
  display: block;
}

/* Display textarea and buttons in same line */
#bootstrap-theme editable-field[type="textarea"] div.form-group {
  display: flex;
}

#bootstrap-theme editable-field[type="textarea"] textarea.editable-input.form-control {
  width: 100%;
  max-width: 1200px;
  height: 30vh;
}

#bootstrap-theme editable-field[type="textarea"] pre {
  width: 100%;
  max-width: 1200px;
  height: fit-content;
  max-height: 30vh;
  white-space: pre-wrap;
  word-break: normal;
  hyphens: auto;
}

/* don't let textarea grow out of a modal */
.modal textarea {
  max-width: 100%;
}

/* align checkboxes in checklist vertically */
.editable-checklist label {
  display: block !important;
}

#bootstrap-theme div.funding-jf-group-label {
  margin-top: 15px;
  margin-bottom: 10px;
}

#bootstrap-theme .funding-jf-group-label {
  font-weight: 500;
}

#bootstrap-theme .funding-jf-group-label-1 {
  font-size: 120%;
  font-weight: 600;
}

#bootstrap-theme .funding-jf-group-label-2 {
  font-size: 110%;
}

#bootstrap-theme .funding-jf-group-label-3 {
  font-size: 105%;
}

#bootstrap-theme .funding-jf-form table {
  margin-bottom: 5px;
}

#bootstrap-theme .funding-jf-group .panel-heading {
  padding: 10px 10px;
}

#bootstrap-theme .funding-jf-group .panel-body {
  padding: 5px 5px;
}

#bootstrap-theme .funding-jf-group .panel-title {
  font-size: inherit;
}

#bootstrap-theme funding-jf-categorization {
  display: block;
  margin-top: 15px;
}

funding-jf-control {
  display: block;
}
