<div class="modal fade funding-modal" id="submit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ts('Close')}}"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{submitModal.title}}</h4>
            </div>
            <div class="modal-body">
                <div>
                    <label for="commentText">{{ts('Comment')}}</label>
                    <textarea id="commentText" rows="5" cols="80" ng-model="comment.text"></textarea>
                </div>
                <div>
                    <label for="commentType">{{ts('Comment type')}}</label>
                    <select id="commentType" ng-model="comment.type" ng-required="comment.text">
                        <option disabled selected></option>
                        <option value="internal">{{ts('internal')}}</option>
                        <option value="external">{{ts('external')}}</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" crm-icon="fa-check" ng-click="modalSubmit()">{{ts('Submit')}}</button>
                <button type="button" class="btn btn-default" crm-icon="fa-times" data-dismiss="modal">{{ts('Cancel')}}</button>
            </div>
        </div>
    </div>
</div>

<div class="funding-review-buttons">
    <span ng-if="!isChanged">
        <funding-action-button action="review" with-comment="false" class="btn btn-info" crm-icon="fa-eye">{{ts('Start review')}}</funding-action-button>
        <funding-action-button action="approve-content" class="btn btn-success" crm-icon="fa-thumbs-up">{{ts('Set content review to passed')}}</funding-action-button>
        <funding-action-button action="reject-content" class="btn btn-danger" crm-icon="fa-thumbs-down">{{ts('Set content review to failed')}}</funding-action-button>
        <funding-action-button action="approve-calculative" class="btn btn-success" crm-icon="fa-thumbs-up">{{ts('Set calculative review to passed')}}</funding-action-button>
        <funding-action-button action="reject-calculative" class="btn btn-danger" crm-icon="fa-thumbs-down">{{ts('Set calculative review to failed')}}</funding-action-button>
        <funding-action-button action="request-change" class="btn btn-warning" crm-icon="fa-arrow-left">{{ts('Request change')}}</funding-action-button>
        <funding-action-button action="approve" class="btn btn-success" crm-icon="fa-check">{{ts('Approve application')}}</funding-action-button>
        <funding-action-button action="reject" class="btn btn-danger" crm-icon="fa-ban">{{ts('Reject application')}}</funding-action-button>
        <funding-action-button action="approve-rework-request" class="btn btn-success" crm-icon="fa-check-circle">{{ts('Approve rework request')}}</funding-action-button>
        <funding-action-button action="reject-rework-request" class="btn btn-danger" crm-icon="fa-times">{{ts('Reject rework request')}}</funding-action-button>
        <funding-action-button action="approve-change" class="btn btn-success" crm-icon="fa-check-circle">{{ts('Approve change')}}</funding-action-button>
        <funding-action-button action="reject-change" class="btn btn-danger" crm-icon="fa-times">{{ts('Reject change')}}</funding-action-button>
        <funding-action-button action="add-comment" class="btn btn-info" crm-icon="fa-commenting">{{ts('Add comment')}}</funding-action-button>
    </span>

    <span ng-if="isChanged">
        <funding-action-button action="update" class="btn btn-success" crm-icon="fa-check">{{ts('Save')}}</funding-action-button>
        <button type="button" class="btn btn-danger" ng-click="reset()" ng-disabled="editCount > 0" crm-icon="fa-times">{{ts('Reset')}}</button>
    </span>
</div>

<div ng-if="errors | fundingIsNotEmpty" class="alert alert-danger">
    {{ts('Validation failed')}}
    <funding-validation-errors errors="errors['/']"></funding-validation-errors>
    <funding-validation-errors errors="errors['/action']"></funding-validation-errors>
</div>

<div style="overflow: scroll; height: 50vh;">
    <h2>{{ts('Reviewers')}}</h2>
    <funding-application-reviewers application-process="applicationProcess" permissions="permissions"></funding-application-reviewers>

    <h2>{{ts('General')}}</h2>
    <div>
        <label>{{ts('Status')}}</label>
        {{statusLabels[applicationProcess.status] || ts('Unknown')}}
    </div>
    <div>
        <label>{{ts('Review content')}}</label>
        {{reviewStatusLabels[applicationProcess.is_review_content]}}
    </div>
    <div>
        <label>{{ts('Review calculative')}}</label>
        {{reviewStatusLabels[applicationProcess.is_review_calculative]}}
    </div>
    <div>
        <label>{{ts('Creation date')}}</label>
        {{applicationProcess.creation_date}}
    </div>
    <div>
        <label>{{ts('Modification date')}}</label>
        {{applicationProcess.modification_date}}
    </div>
    <div>
        <label>{{ts('Recipient')}}</label>
        {{recipientContact.display_name}}
    </div>
    <div>
        <label>{{ts('Amount requested')}}</label>
        {{applicationProcess.amount_requested}} {{currency}}
    </div>
    <div>
        <editable-field label="'Titel'" type="text"
                        value="data.titel"
                        e-ng-required="true"></editable-field>
    </div>
    <div>
        <editable-field label="'Kurzbezeichnung des Inhalts'" type="text"
                        value="data.kurzbezeichnungDesInhalts"
                        e-ng-required="true"></editable-field>
    </div>
    <div>
        <editable-field label="'Beginn'" type="date"
                        value="data.beginn"
                        e-ng-required="true"></editable-field>
    </div>
    <div>
        <editable-field label="'Ende'" type="date"
                        value="data.ende"
                        e-ng-required="true"></editable-field>
    </div>

    <h2>Kosten</h2>

    <div>
        <h3>Unterkunft und Verpflegung</h3>
        <table>
            <tr>
                <th style="width: 40%;">Position</th>
                <th style="width: 10%;">Beantragt</th>
                <th style="width: 10%;">Aktionen</th>
            </tr>
            <tr funding-editable-table-row form-name="unterkunftUndVerpflegungForm">
                <td>Unterkunft und Verpflegung</td>
                <td>
                    <editable-field type="number" value="data.kosten.unterkunftUndVerpflegung"
                                    e-step="0.01" e-ng-required="true"></editable-field> {{currency}}
                </td>
                <td class="editable-table-row-actions"></td>
            </tr>
        </table>
    </div>

    <div>
        <h3>Honorare <funding-validation-errors errors="errors['/kosten.honorare']"></funding-validation-errors></h3>
        <table>
            <tr>
                <th style="width: 10%;">Stunden</th>
                <th style="width: 10%;">Vergütung</th>
                <th style="width: 40%;">Zweck</th>
                <th style="width: 10%;">Beantragt</th>
                <th style="width: 10%;">Aktionen</th>
            </tr>
            <tr ng-repeat="honorar in data.kosten.honorare track by $index" funding-editable-table-row>
                <td>
                    <editable-field type="number" value="honorar.stunden"
                                    path="kosten.honorare[{{$index}}].stunden"
                                    e-step="0.01" e-ng-required="true"></editable-field>
                </td>
                <td>
                    <editable-field type="number" value="honorar.verguetung"
                                    path="kosten.honorare[{{$index}}].verguetung"
                                    e-step="0.01" e-ng-required="true"></editable-field> {{currency}}
                </td>
                <td>
                    <editable-field type="text" value="honorar.zweck"
                                    path="kosten.honorare[{{$index}}].zweck"
                                    e-ng-required="true"></editable-field>
                </td>
                <td>
                    <span>{{honorar.betrag}} {{currency}}</span>
                </td>
                <td class="editable-table-row-actions"></td>
            </tr>
        </table>
        <funding-add-row-button path="kosten.honorare" ng-if="isEditAllowed()"></funding-add-row-button>
        <div>
            <label>Honorarkosten gesamt</label>
            <span>{{data.kosten.honorareGesamt}} {{currency}}</span>
        </div>
    </div>
    <div>
        <h3>Fahrtkosten</h3>
        <table>
            <tr>
                <th style="width: 40%;">Typ</th>
                <th style="width: 10%;">Beantragt</th>
                <th style="width: 10%;">Aktionen</th>
            </tr>
            <tr funding-editable-table-row form-name="fahrtkostenInternForm">
                <td>Intern</td>
                <td>
                    <editable-field type="number" value="data.kosten.fahrtkosten.intern"
                                    e-step="0.01" e-ng-required="true"></editable-field> {{currency}}
                </td>
                <td class="editable-table-row-actions"></td>
            </tr>
            <tr funding-editable-table-row form-name="fahrtkostenAnTeilnehmerErstattetForm">
                <td>An Teilnehmer erstattet</td>
                <td>
                    <editable-field type="number" value="data.kosten.fahrtkosten.anTeilnehmerErstattet"
                                    e-step="0.01" e-ng-required="true"></editable-field> {{currency}}
                </td>
                <td class="editable-table-row-actions"></td>
            </tr>
        </table>
    </div>
    <div>
        <h3>Sachkosten</h3>
        <table>
            <tr>
                <th style="width: 40%;">Position</th>
                <th style="width: 10%;">Beantragt</th>
                <th style="width: 10%;">Aktionen</th>
            </tr>
            <tr funding-editable-table-row form-name="sachkostenHaftungKfzForm">
                <td>Haftung KFZ</td>
                <td>
                    <editable-field type="number" value="data.kosten.sachkosten.haftungKfz"
                                    e-step="0.01" e-ng-required="true"></editable-field> {{currency}}
                </td>
                <td class="editable-table-row-actions"></td>
            </tr>
        </table>
        <h4>Ausstattung</h4>
        <table>
            <tr>
                <th style="width: 70%;">Gegenstand</th>
                <th style="width: 10%;">Beantragt</th>
                <th style="width: 10%;">Aktionen</th>
            </tr>
            <tr ng-repeat="ausstattung in data.kosten.sachkosten.ausstattung track by $index" funding-editable-table-row>
                <td>
                    <editable-field type="text" value="ausstattung.gegenstand"
                                    path="kosten.sachkosten.ausstattung[{{$index}}].gegenstand"
                                    e-ng-required="true"></editable-field>
                </td>
                <td>
                    <editable-field type="number" value="ausstattung.betrag"
                                    path="kosten.sachkosten.ausstattung[{{$index}}].betrag"
                                    e-step="0.01" e-ng-required="true"></editable-field> {{currency}}
                </td>
                <td class="editable-table-row-actions"></td>
            </tr>
        </table>
        <funding-add-row-button path="kosten.sachkosten.ausstattung" ng-if="isEditAllowed()"></funding-add-row-button>
        <div>
            <label>Sachkosten gesamt</label>
            <span>{{data.kosten.sachkostenGesamt}} {{currency}}</span>
        </div>
    </div>
    <div>
        <h3>Sonstige Ausgaben</h3>
        <table>
            <tr>
                <th style="width: 70%;">Zweck</th>
                <th style="width: 10%;">Beantragt</th>
                <th style="width: 10%;">Aktionen</th>
            </tr>
            <tr ng-repeat="sonstigeAusgabe in data.kosten.sonstigeAusgaben track by $index" funding-editable-table-row>
                <td>
                    <editable-field type="text" value="sonstigeAusgabe.zweck"
                                    path="kosten.sonstigeAusgaben[{{$index}}].zweck"
                                    e-ng-required="true"></editable-field>
                </td>
                <td>
                    <editable-field type="number" value="sonstigeAusgabe.betrag"
                                    path="kosten.sonstigeAusgaben[{{$index}}].betrag"
                                    e-step="0.01" e-ng-required="true"></editable-field> {{currency}}
                </td>
                <td class="editable-table-row-actions"></td>
            </tr>
        </table>
        <funding-add-row-button path="kosten.sonstigeAusgaben" ng-if="isEditAllowed()"></funding-add-row-button>
        <div>
            <label>Sonstige Ausgaben gesamt</label>
            <span>{{data.kosten.sachkostenGesamt}} {{currency}}</span>
        </div>
    </div>
    <div>
        <h3>Nur bei internationalen Maßnahmen</h3>
        <editable-field label="'Versicherung Teilnehmer'"
                        type="number" value="data.kosten.versicherungTeilnehmer"
                        e-step="0.01" e-ng-required="true"></editable-field> {{currency}}
    </div>

    <div>
        <h3>Gesamtkosten</h3>
        {{data.kosten.gesamtkosten}} {{currency}}
    </div>

    <h2>Mittel</h2>
    <div>
        <editable-field label="'Teilnehmerbeiträge'" type="number"
                        value="data.finanzierung.teilnehmerbeitraege"
                        e-step="0.01" e-ng-required="true"></editable-field>
        {{currency}}
    </div>

    <div>
        <editable-field label="'Eigenmittel'" type="number"
                        value="data.finanzierung.eigenmittel"
                        e-step="0.01" e-ng-required="true"></editable-field>
        {{currency}}
    </div>

    <h3>Öffentliche Mittel</h3>
    <div>
        <editable-field label="'Europa'" type="number"
                        value="data.finanzierung.oeffentlicheMittel.europa"
                        e-step="0.01" e-ng-required="true"></editable-field>
        {{currency}}
    </div>
    <div>
        <editable-field label="'Bundesländer'" type="number"
                        value="data.finanzierung.oeffentlicheMittel.bundeslaender"
                        e-step="0.01" e-ng-required="true"></editable-field>
        {{currency}}
    </div>
    <div>
        <editable-field label="'Städte und Kreise'" type="number"
                        value="data.finanzierung.oeffentlicheMittel.staedteUndKreise"
                        e-step="0.01" e-ng-required="true"></editable-field>
        {{currency}}
    </div>

    <h3>Sonstige Mittel</h3>
    <table>
        <tr>
            <th style="width: 70%;">Quelle</th>
            <th style="width: 10%;">Beantragt</th>
            <th style="width: 10%;">Aktionen</th>
        </tr>
        <tr ng-repeat="sonstigesMittel in data.finanzierung.sonstigeMittel track by $index" funding-editable-table-row>
            <td>
                <editable-field type="text" value="sonstigesMittel.zweck"
                                path="finanzierung.sonstigeMittel[{{$index}}].zweck"
                                e-step="0.01" e-ng-required="true"></editable-field>
            </td>
            <td>
                <editable-field type="number" value="sonstigesMittel.betrag"
                                path="finanzierung.sonstigeMittel[{{$index}}].betrag"
                                e-step="0.01" e-ng-required="true"></editable-field> {{currency}}
            </td>
            <td class="editable-table-row-actions"></td>
        </tr>
    </table>
    <funding-add-row-button path="finanzierung.sonstigeMittel" ng-if="isEditAllowed()"></funding-add-row-button>

    <h3>Gesamtmittel</h3>
    {{data.finanzierung.gesamtmittel}} {{currency}}

    <h3>Beantragter Zuschuss</h3>
    {{data.finanzierung.beantragterZuschuss}} {{currency}}
</div>
