<div class="modal fade funding-modal" id="submit-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ ts('Close') }}"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ $ctrl.title }}</h4>
      </div>
      <div class="modal-body">
        <div>
          <label for="commentText">{{ ts('Comment') }}{{ $ctrl.commentRequired ? ' *' : '' }}</label>
          <textarea id="commentText" rows="5" cols="80" ng-model="$ctrl.commentText" ng-required="$ctrl.commentRequired"></textarea>
        </div>
        <div>
          <label for="commentType">{{ ts('Comment Type') }}</label>
          <select id="commentType" ng-model="$ctrl.commentType" ng-required="$ctrl.commentText">
            <option disabled selected></option>
            <option value="internal">{{ ts('internal') }}</option>
            <option value="external">{{ ts('external') }}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" crm-icon="fa-check" ng-click="$ctrl.submit()">{{ ts('Submit') }}</button>
        <button type="button" class="btn btn-default" crm-icon="fa-times" data-dismiss="modal">{{ ts('Cancel') }}</button>
      </div>
    </div>
  </div>
</div>
