<div id="funding-overlay"></div>

<div id ="bootstrap-theme">

    <div class="modal fade funding-modal" id="approve-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{ ts('Close') }}"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{ ts('Approve') }}</h4>
                </div>
                <div class="modal-body">
                    <div ng-show="fundingProgram.budget !== null">
                      <label>{{ ts('Available budget') }}</label>
                      {{ availableBudget|fundingCurrency:fundingProgram.currency }}
                    </div>
                    <div>
                        <label for="approve-amount">{{ ts('Amount') }}</label>
                        <input id="approve-amount" type="number" min="0.01" step="0.01" ng-model="approve.amount" ng-required="true"/>
                        {{ currencySymbol }}
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" crm-icon="fa-check" ng-click="approveSubmit()">{{ ts('Submit') }}</button>
                  <button type="button" class="btn btn-default" crm-icon="fa-times" data-dismiss="modal">{{ ts('Cancel') }}</button>
                </div>
            </div>
        </div>
    </div>

  <div class="modal fade funding-modal" id="update-amount-approved-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="{{ ts('Close') }}"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{ ts('Update Amount Approved') }}</h4>
        </div>
        <div class="modal-body">
          <div ng-show="fundingProgram.budget !== null">
            <label>{{ ts('Available budget') }}</label>
            {{ availableBudget|fundingCurrency:fundingProgram.currency }}
          </div>
          <div>
            <label for="amount-approved">{{ ts('Amount') }}</label>
            <input id="amount-approved" type="number" min="0.01" step="0.01" ng-model="updateAmountApproved.amount" ng-required="true"/>
            {{ currencySymbol }}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" crm-icon="fa-check" ng-click="updateAmountApprovedSubmit()">{{ ts('Submit') }}</button>
          <button type="button" class="btn btn-default" crm-icon="fa-times" data-dismiss="modal">{{ ts('Cancel') }}</button>
        </div>
      </div>
    </div>
  </div>

  <h1 crm-page-title>{{ ts('Funding Case: %1', {1: fundingCase.identifier}) }}</h1>

  <div>
      <label>{{ ts('Status' )}}</label>
      {{ statusLabels[fundingCase.status] || ts('Unknown') }}
  </div>
  <div>
      <label>{{ ts('Creation Date') }}</label>
      {{ fundingCase.creation_date }}
  </div>
  <div>
      <label>{{ ts('Modification Date') }}</label>
      {{ fundingCase.modification_date }}
  </div>
  <div>
      <label>{{ ts('Recipient') }}</label>
      <funding-recipient-contact funding-case="fundingCase" edit-allowed="possibleActions.includes('set-recipient-contact')"></funding-recipient-contact>
  </div>
  <div>
    <label>{{ ts('Notification Contacts') }}</label>
    <funding-notification-contacts funding-case="fundingCase" edit-allowed="possibleActions.includes('set-notification-contacts')"></funding-notification-contacts>
  </div>
  <div>
    <label>{{ ts('Amount Approved')}}</label>
    {{ fundingCase.amount_approved|fundingCurrency:fundingProgram.currency }}
  </div>
  <div>
      <label>{{ ts('Amount Requested Eligible') }}</label>
      {{ amountRequestedEligible|fundingCurrency:fundingProgram.currency }}
  </div>
  <div>
    <label>{{ ts('Amount Cleared') }}</label>
    {{ fundingCase.amount_cleared|fundingCurrency:fundingProgram.currency }}
  </div>
  <div>
    <label>{{ ts('Amount Admitted') }}</label>
    {{ fundingCase.amount_admitted|fundingCurrency:fundingProgram.currency }}
  </div>
  <div ng-show="fundingCase.transfer_contract_uri">
      <a href="{{ fundingCase.transfer_contract_uri }}" target="_blank" crm-icon="fa-external-link">{{ ts('Transfer Contract') }}</a>
  </div>

  <h2>{{ ts('Applications') }}</h2>
  <sk-application-process-table options="{filters: {funding_case_id: fundingCase.id}}"></sk-application-process-table>

  <button ng-show="possibleActions.includes('approve')" type="button"
          ng-click="approvePrepare()">
      <span class="funding-label">{{ ts('Approve') }}</span>
  </button>

  <button ng-show="possibleActions.includes('update-amount-approved')" type="button"
          ng-click="updateAmountApprovedPrepare()">
    <span class="funding-label">{{ ts('Update Amount Approved') }}</span>
  </button>

  <button ng-show="possibleActions.includes('recreate-transfer-contract')" type="button"
          ng-click="recreateTransferContract()">
      <span class="funding-label">{{ ts('Recreate Transfer Contract') }}</span>
  </button>

  <button ng-show="possibleActions.includes('finish-clearing')" type="button"
          ng-click="finishClearing()">
    <span class="funding-label">{{ ts('Finish Clearing') }}</span>
  </button>

  <h2 ng-show="payoutProcesses.length > 0">{{ ts('Drawdowns') }}</h2>
  <div ng-repeat="payoutProcess in payoutProcesses">
    <sk-drawdown-table options="{filters: {payout_process_id: payoutProcess.id}}"></sk-drawdown-table>
  </div>

</div>
