<div id="bootstrap-theme" class="crm-container">
  <h1 crm-page-title>{{ts('Initial Funding Case Permissions')}}</h1>

  <form name="fundingNewCasePermissions" ng-submit="save()" >
    <div class="form-group">
      <button type="button" class="btn btn-sm" crm-icon="fa-plus-circle" ng-click="add()">{{ts('Add')}}</button>
    </div>
    <div ng-repeat="newCasePermissions in newCasePermissionsList track by $index" class="form-group clear">
      <button type="button" class="btn btn-sm btn-danger" crm-icon="fa-remove" ng-click="remove($index)" title="{{ts('Remove')}}"></button>
      <span>
        <funding-new-case-permissions types="types" type="newCasePermissions.type" permissions="newCasePermissions.permissions"
                                          properties="newCasePermissions.properties" possible-permissions="possiblePermissions"></funding-new-case-permissions>
      </span>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success" crm-icon="fa-check">{{ts('Save')}}</button>
    </div>
  </form>

</div>
