<div class="crm-container">
  <h1 crm-page-title>{{ts('Funding recipient relations')}}</h1>

  <form name="fundingRecipientRelations" ng-submit="save()">
    <div>
      <button type="button" class="crm-button" crm-icon="fa-plus-circle" ng-click="add()">{{ts('Add relation')}}</button>
    </div>
    <div ng-repeat="relation in relations track by $index" class="crm-form-block clear">
      <button type="button" class="crm-button" crm-icon="fa-remove" ng-click="remove($index)" title="{{ts('Remove relation')}}"></button>
      <span><funding-recipient-relation types="types" type="relation.type" properties="relation.properties"/></span>
    </div>
    <div>
      <button type="submit" class="crm-button crm-form-submit" crm-icon="fa-check">{{ts('Save')}}</button>
    </div>
  </form>

</div>
